*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e2e2;
    color: #3c3c3c;
}


header{
    background: url(../img/setwalls.ru-67572.jpg) center;
    background-size: cover;
    color: white;
    height: 541px;
}

small{
    font-size: 0.75em;
}

@supports (display: grid) {
    dl{
        display: grid;
        grid-template-columns: auto 1fr;
    }
    dl>dt{
        min-width: 0;
    }
    dl>dd{
        margin: 0 0 0 3em;
    }
}

#main_top_menu{
    display: flex;
    height: 60px;
    background-image: linear-gradient(rgba(56, 56, 76, 0.92), rgba(0, 0, 0, 0.92));
    justify-content: space-evenly;
    align-items: center;
}

#main_top_menu .menu_item{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #585858;
}

#main_article{
    display: flex;
    justify-content: center;
    height: 73%;
    
}
#main_article>div{
    width: 45%;
    text-align: justify;
    align-self: center;
}

#main_article h1{
    text-align: center;
    margin-bottom: 38px;
    text-transform: uppercase;
}


#contact_me{
    align-self: center;
    background-color: rgba(204, 204, 204, 0.46);
    padding: 12px 65px;
    border-radius: 25px;
    border: rgba(255, 255, 255, 0.48) solid 1px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}


main{
    display: flex;
    flex-direction: column;
}

section{
    margin: 5% 12% 0 12%;
}

.section_title{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.section_title>small{
    font-size: 12px;
    color: #797979;
    text-transform: lowercase;
}
.section_block{
    max-width: 300px;
}
.section_block img{
    border: 2px solid #3c3c3c;
    border-radius: 3px;
}
.section_block p{
    font-size: 14px;
    margin-top: 8px;
}

.cert_block{
    width: 540px;
    margin: 10px;
}
section a.cert_block{
    text-decoration: none;
    color: inherit;
}


.section_theme{
    margin: 10px;
    width: 540px;
    background-color: white;
}
.section_theme .section_descr{
    padding: 20px 16px 16px 16px;
    display: flex;
}
.big-icon{
    border-radius: 64px;
    padding: 12px 12px;
    border: 3px solid black;
    font-size: 96px;
    height: 96px;
}
.big-icon:before{
    margin: 0;
}
.section_img{
    
}
.sect_divide{
    height: 4px;
    display: flex;
    align-items: center;
}
.sect_divide>i{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 19px;
    margin-left: 52px;
    font-size: 23px;
}
.sect_divide>i:before{
    margin-left: 2px;
}
.section_descr_text{
    margin-left: 16px;
}
.section_theme i[class^='icon-'].red{
    border: 4px solid red;
}
.section_theme span.red{
    background-color: red;
}
.section_theme i[class^='icon-'].blue{
    border: 4px solid #2f8fed;
}
.section_theme span.blue{
    background-color: #2f8fed;
}
.section_theme i[class^='icon-'].green{
    border: 4px solid green;
}
.section_theme span.green{
    background-color: green;
}

/*
 * Global
 */
.container-inline{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    display: flex;
    flex-direction: column;
}
.justify_space{
    justify-content: space-around;
}
/*
 * End GLobal
 */

.blue_yellow{
    color: #eebc30;
    background-color: #2f8fed;
}
.yellow_blue{
    color: #2f8fed;
    background-color: #eebc30;
}



footer{
    background-image: radial-gradient(ellipse at top, #383838, #000);
    height: 435px;
    color: #b5b5b5;
    margin-top: 89px;
}

footer .row{
    margin: 5% 12% 0 12%;
}
footer .col{
    width: 540px;
    margin: 3% 0 3% 0;
}
footer .bottom{
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;
    color: #797979;
    font-size: 14px;
}
